<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ||//////////////////////////////////////////////////////////////////////||
         ||  These are the basic settings for connecting to the FamilySearch API ||
         ||    PLEASE DO NOT CHECK IN YOUR VERSION WITH Credentials         ||
         ||//////////////////////////////////////////////////////////////////////||-->
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="startingID" value=""/>
    <!-- the next two lines are only used if _developerKey is not set in FamilyHistorySources.cs-->
    <add key="isSandBox" value="True"/>
    <add key="appKey" value=""/>

 </appSettings>
</configuration>

