<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ||//////////////////////////////////////////////////////////////////////||
         ||  These are the basic settings for connecting to the FamilySearch API ||
         ||    PLEASE DO NOT CHECK IN YOUR VERSION WITH Credentials/Key          ||
         ||//////////////////////////////////////////////////////////////////////||-->
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="isSandBox" value="True"/>
    <add key="developerKey" value=""/>
    <add key="startingID" value=""/>
 </appSettings>
</configuration>

