<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ||//////////////////////////////////////////////////////////////////////||
         ||  These are the basic settings for connecting to the FamilySearch API ||
         ||    PLEASE DO NOT CHECK IN YOUR VERSION WITH Credentials              ||
         || If these are left undefined here, we will expect the appKey in the   ||
         || Source Code. and the usename/password/startingID will be promted for ||
         || In the User Interface.
         ||//////////////////////////////////////////////////////////////////////||-->
    <add key="isSandBox" value="False"/>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="appKey" value="" />
    <add key="startingID" value=""/>

    <add key="3DFTApplication" value="..\3DFT\3DFT.exe"/>

  </appSettings>
</configuration>

